.box {
  width: 200px;
  height: 200px; 
  background-image: url('https://i.pinimg.com/736x/39/8e/50/398e50643963c70e8708a1cc41559af3.jpg'); 
  background-color: rgb(18, 18, 18);
  border-radius: 8px; 
  background-size: cover; 
  background-position: center;
}
